attrs==19.3.0
cent==2.1.0
certifi==2019.9.11
chardet==3.0.4
Django==2.2.6
django-cors-headers==3.7.0
django-instant==0.6.11
django-online==0.2.1
django-online-users==0.3
django-tracking2==0.5.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.6.0
idna==2.8
importlib-metadata==1.5.0
more-itertools==8.2.0
packaging==20.1
PyJWT==2.0.1
pyparsing==2.4.6
pytz==2019.3
requests==2.25.1
six==1.14.0
sqlparse==0.3.0
urllib3==1.26.4
zipp==2.2.0